<h1>Listing attractions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Rating</th>
    <th>Wait type</th>
    <th>Intensity</th>
    <th>Height</th>
    <th>Fast pass</th>
    <th>Pal mickey</th>
    <th>Rider swap</th>
    <th>Wheelchair</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attractions.each do |attraction| %>
  <tr>
    <td><%= attraction.name %></td>
    <td><%= attraction.description %></td>
    <td><%= attraction.rating %></td>
    <td><%= attraction.wait_type %></td>
    <td><%= attraction.intensity %></td>
    <td><%= attraction.height %></td>
    <td><%= attraction.fast_pass %></td>
    <td><%= attraction.pal_mickey %></td>
    <td><%= attraction.rider_swap %></td>
    <td><%= attraction.wheelchair %></td>
    <td><%= link_to 'Show', attraction %></td>
    <td><%= link_to 'Edit', edit_attraction_path(attraction) %></td>
    <td><%= link_to 'Destroy', attraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attraction', new_attraction_path %>
